body {
    background-image: linear-gradient(to bottom, #fff3e6, #ffcccc); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

header {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 10px;
}

.timer {
    font-size: 4em;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px; 
    border-radius: 10px;
}
.time {
    margin: 0 5px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05); 
}

#start {
    background-color: #4CAF50;
    color: white;
}

#pause {
    background-color: #FF9800;
    color: white;
}

#reset {
    background-color: #F44336;
    color: white;
}

.settings {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 1.4em;
    margin-bottom: 5px;
}

input {
    width: 50px;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

audio {
    display: none;
}
